@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

body {
    background-color: rgb(42,42,42);
    color: rgb(240,240,240);
    font-family: Ubuntu, Helvetica, sans-serif;
}

a {
    color: rgb(240,240,240);
    text-decoration: none;
}

#content {
    float: left;
    max-width: 600px;
}

#status {
    font-size: 80px;
    font-weight: bolder;
    margin: 100px;
    margin-bottom: 50px;
}
#time {
    margin-left: 100px;
}

#further {
    margin-top: 40px;
    font-size: 30px;
}

#info {
    margin-bottom: 20px;
}

#aside {
    margin-right: 100px;
    float: right;
    margin-top: 100px;
}

#footer {
    margin-top: 50px;
}
